* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Design tokens */
:root {
  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 48px;
  --spacing-6: 64px;
  --spacing-7: 96px;
  --spacing-8: 128px;

  /* Font */
  --font-1: 1rem;
  --font-2: 1.25rem;
  --font-3: 1.5rem;
  --font-4: 2rem;

  /* Colors palette */
  --color-primary: hsl(160, 100%, 30%);
  --color-secondary-1: hsl(45, 100%, 50%);
  --color-secondary-2: hsl(45, 100%, 40%);
  --color-gray-1: hsl(0, 0%, 0%);
  --color-gray-2: hsl(0, 0%, 10%);
  --color-gray-3: hsl(0, 0%, 30%);
  --color-gray-4: hsl(0, 0%, 40%);
  --color-gray-5: hsl(0, 0%, 60%);
  --color-gray-6: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  line-height: 1.4;
}

header {
  padding: calc(var(--spacing-7) + var(--spacing-2)) 0 var(--spacing-6);
  border-bottom: var(--spacing-1) solid var(--color-gray-4);
}

.max-width-wrapper {
  max-width: 720px;
  padding: 0 var(--spacing-4);
  margin: auto;
}

.intro-chunk {
  max-width: 400px;
  font-size: var(--font-3);
}

.title {
  margin-bottom: var(--spacing-6);
  font-size: var(--font-4);
}

.intro-chunk > p:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

strong {
  color: var(--color-primary);
}

main {
  padding: calc(var(--spacing-7) - var(--spacing-1)) 0;
  background: var(--color-gray-5);
}

.card {
  padding: var(--spacing-1) var(--spacing-4) var(--spacing-4);
  border-bottom: var(--spacing-1) solid var(--color-gray-4);
  margin: 0 calc(-1 * var(--spacing-4));
  background: var(--color-gray-6);
  font-size: var(--font-2);
}

.indented-heading {
  width: fit-content;
  padding: var(--spacing-3) var(--spacing-5);
  border-bottom: var(--spacing-1) solid var(--color-secondary-2);
  margin: 0 0 var(--spacing-3) calc(-1 * var(--spacing-5));
  background: var(--color-secondary-1);
  font-size: var(--font-3);
}

.card > p:not(:last-child) {
  margin-bottom: var(--spacing-2);
}
